<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>web.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllGames</servlet-name>
        <servlet-class>web.ListAllGames</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>web.RegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>web.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserGames</servlet-name>
        <servlet-class>web.UserGames</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGame</servlet-name>
        <servlet-class>web.AddGame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchGame</servlet-name>
        <servlet-class>web.SearchGame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Games</servlet-name>
        <servlet-class>webservices.Games</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Users</servlet-name>
        <servlet-class>webservices.Users</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UsersWithTokens</servlet-name>
        <servlet-class>webservices.UsersWithTokens</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListGames</servlet-name>
        <url-pattern>/ListGames</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllGames</servlet-name>
        <url-pattern>/ListAllGames</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserGames</servlet-name>
        <url-pattern>/UserGames</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGame</servlet-name>
        <url-pattern>/AddGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchGame</servlet-name>
        <url-pattern>/SearchGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Games</servlet-name>
        <url-pattern>/Games</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersWithTokens</servlet-name>
        <url-pattern>/UsersWithTokens</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <!-- ficheiro que vai ser iniciado quando fazemos load da app -->
        <welcome-file>Login</welcome-file>
    </welcome-file-list>
    <ejb-local-ref>
        <ejb-ref-name>GameBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>beans.GameBeanLocal</local>
        <ejb-link>GameBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>UserBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>beans.UserBeanLocal</local>
        <ejb-link>UserBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PlatformBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>beans.PlatformBeanLocal</local>
        <ejb-link>PlatformBean</ejb-link>
    </ejb-local-ref>
</web-app>
