.DS_Store
3/cg/OpenGL-Refpages
3/bd/pl10/Mongo-Assets
3/li4/li4-project
*.vpp.*
4/ipln/ipln-1920-i
.vagrant/
ubuntu-xenial-16.04-cloudimg-console.log
artful-hexagon-257511-baf3770e4de2.json
4/as/design-patterns/*.iml
4/as/design-patterns/out/
4/as/design-patterns/.idea
4/sdb/guide-6/elasticsearch-7.4.2
4/sdb/guide-6/kibana-7.4.2-linux-x86_64
4/sdb/guide-6/metricbeat-7.4.2-linux-x86
4/sdb/guide-6/elasticsearch-7.4.2-linux-x86_64.tar
4/sdb/guide-6/kibana-7.4.2-linux-x86_64.tar
4/sdb/guide-6/metricbeat-7.4.2-linux-x86.tar
4/sdb/guide-7/bmstub
4/icd/vms/
/4/aa/tutorial-3/GMSWeb/GMSWeb/nbproject/private/
/4/aa/tutorial-3/GMSWeb/GMSWeb/build/
/4/aa/tutorial-3/GMSWeb/GMSWeb/dist/
/4/aa/tutorial-3/GMSWebwithtutorial-1/GMSWeb/nbproject/private/
/4/aa/tutorial-3/GMSWebwithtutorial-1/GMSWeb/build/
/4/aa/tutorial-3/GMSWebwithtutorial-1/GMSWeb/dist/
/4/aa/tutorial-3/GMSWebwithtutorial-1/GMSWeb.2020-04-25-00h46.bak/build/
/4/aa/tutorial-3/GMSWebwithtutorial-1/GMSWeb.2020-04-25-00h46.bak/dist/
/4/aa/tutorial-3/GMSWebwithtutorial-1/GMSWeb.2020-04-25-00h46.bak/nbproject/private/
/4/aa/tutorial-4/GMSWeb.2020-04-30-22h00.bak/build/
/4/aa/tutorial-4/GMSWeb.2020-04-30-22h00.bak/dist/
/4/aa/tutorial-4/GMSWeb.2020-04-30-22h00.bak/nbproject/private/
/4/aa/tutorial-4/GMSWeb.2020-04-30-23h00.bak/build/
/4/aa/tutorial-4/GMSWeb.2020-04-30-23h00.bak/dist/
/4/aa/tutorial-4/GMSWeb.2020-04-30-23h00.bak/nbproject/private/
/4/aa/tutorial-5/GMSWeb.2020-05-08-10h-39.bak/build/
/4/aa/tutorial-5/GMSWeb.2020-05-08-10h-39.bak/dist/
/4/aa/tutorial-5/GMSWeb.2020-05-08-10h-39.bak/nbproject/private/
/4/aa/tutorial-5/Client/Client/nbproject/private/
/4/aa/tutorial-5/Client/Client/build/
/4/aa/tutorial-5/Client/Client/dist/
/4/aa/tutorial-5/Client.2020-05-08-11h-16.bak/Client/build/
/4/aa/tutorial-5/Client.2020-05-08-11h-16.bak/Client/dist/
/4/aa/tutorial-5/Client.2020-05-08-11h-16.bak/Client/nbproject/private/
/4/aa/tutorial-5/GMSWeb.2020-05-08-11h-17.bak/build/
/4/aa/tutorial-5/GMSWeb.2020-05-08-11h-17.bak/dist/
/4/aa/tutorial-5/GMSWeb.2020-05-08-11h-17.bak/nbproject/private/
/4/aa/tutorial-5/Client/build/
/4/aa/tutorial-5/Client/dist/
/4/aa/tutorial-5/Client/nbproject/private/
/4/aa/tutorial-5/Client copy/build/
/4/aa/tutorial-5/Client copy/dist/
/4/aa/tutorial-5/Client copy/nbproject/private/
/4/aa/tutorial-5/Client.2020-05-08-11h-31.bak/build/
/4/aa/tutorial-5/Client.2020-05-08-11h-31.bak/dist/
/4/aa/tutorial-5/Client.2020-05-08-11h-31.bak/nbproject/private/
/4/aa/2020-05-12/WebApplication1/nbproject/private/
/4/aa/2020-05-12/WebApplication2/nbproject/private/
/4/aa/2020-05-12/WebApplication1/build/
/4/aa/2020-05-12/WebApplication1/dist/
/4/aa/2020-05-12/WebApplication2/build/
/4/aa/2020-05-12/WebApplication2/dist/
*.bak
