.DS_Store
3/cg/OpenGL-Refpages
3/bd/pl10/Mongo-Assets
3/li4/li4-project
*.vpp.*
4/ipln/ipln-1920-i
.vagrant/
ubuntu-xenial-16.04-cloudimg-console.log
artful-hexagon-257511-baf3770e4de2.json
4/as/design-patterns/*.iml
4/as/design-patterns/out/
4/as/design-patterns/.idea
4/sdb/guide-6/elasticsearch-7.4.2
4/sdb/guide-6/kibana-7.4.2-linux-x86_64
4/sdb/guide-6/metricbeat-7.4.2-linux-x86
4/sdb/guide-6/elasticsearch-7.4.2-linux-x86_64.tar
4/sdb/guide-6/kibana-7.4.2-linux-x86_64.tar
4/sdb/guide-6/metricbeat-7.4.2-linux-x86.tar
4/sdb/guide-7/bmstub
4/icd/vms/
